.portfolio__container {
    display: grid;
    gap: 2rem;
    width: 100%;
}

.portfolio__item {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 0.88rem;
    border: 1px solid transparent;
}

.portfolio__item:hover {
    border: 1px solid var(--color-primary-variant);
    background: transparent;
}

.portfolio__item h3 {
    margin: 1rem 0;
}

.portfolio__image img {
    border-radius: 0.8rem;
}

.portfolio__cta {
    display: flex;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .portfolio__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
