.testimonial__container {
    width: 90%;
}

.client__photo {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    border: 0.4rem solid var(--color-primary);
    margin: 1.2rem auto;
}

.testimonial {
    text-align: center;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 1.2rem;
}

.testimonial h5 {
    font-size: 1rem;
    font-weight: 600; 
}

.client__review {
    display: block;
    width: 80%;
    font-weight: 300; 
    margin: 0.8rem auto;
}

@media screen and (min-width: 768px) {
    .testimonial__container {
    width: 80%;
    }
}

@media screen and (min-width: 1024px) {
    .testimonial__container {
    width: 60%;
    }
}

.swiper-wrapper {
    gap: 2rem;
}

/* .testimonial:last-child {
    transform: translate(0);
}

.testimonial:last-child.swiper-slide-active {
    right: 3.5rem;
} */

